//************************************************************************
// Sipeed Tang Nano 20K - Master Constraints File
// Family: GW2A-18C
// Device: GW2AR-LV18QN88C8/I7
//************************************************************************

// ==============================================
// SYSTEM CLOCK (27 MHz)
// ==============================================
IO_LOC  "clk" 4;
IO_PORT "clk" PULL_MODE=UP;

// ==============================================
// PROGRAMMABLE CLOCKS
// ==============================================
IO_LOC  "clk0" 10;
IO_PORT "clk0" PULL_MODE=UP;
IO_LOC  "clk1" 11;
IO_PORT "clk1" PULL_MODE=UP;
IO_LOC  "clk2" 13;
IO_PORT "clk2" PULL_MODE=UP;

// ==============================================
// ONBOARD LEDs (Active LOW: 0 = ON, 1 = OFF)
// ==============================================
IO_LOC  "led[0]" 15;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "led[1]" 16;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "led[2]" 17;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "led[3]" 18;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "led[4]" 19;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "led[5]" 20;
IO_PORT "led[5]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

// ==============================================
// PUSH BUTTONS
// ==============================================
// S1 (User Button)
IO_LOC  "btn1" 88;
IO_PORT "btn1" PULL_MODE=DOWN; 

// S2 (Reset Button)
IO_LOC  "btn2" 87;
IO_PORT "btn2" PULL_MODE=DOWN;

// ==============================================
// UART (Connected to BL616 USB-Serial Bridge)
// ==============================================
IO_LOC  "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;

IO_LOC  "uart_rx" 70;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33;

// ==============================================
// MICRO SD CARD (SPI Mode)
// ==============================================
IO_LOC  "sd_clk" 83;
IO_PORT "sd_clk" PULL_MODE=NONE; 
IO_LOC  "sd_mosi" 82; // CMD
IO_PORT "sd_mosi" PULL_MODE=NONE;
IO_LOC  "sd_miso" 84; // D0
IO_PORT "sd_miso" PULL_MODE=NONE;
IO_LOC  "sd_cs"   81; // D3
IO_PORT "sd_cs"   PULL_MODE=NONE;

// ==============================================
// HDMI / TMDS
// ==============================================
IO_LOC  "tmds_clk_p" 33; // CLK
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_d0_p" 35;  // D0_P (Blue)
IO_PORT "tmds_d0_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_d1_p" 37;  // D1_P (Green)
IO_PORT "tmds_d1_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_d2_p" 39;  // D2_P (Red)
IO_PORT "tmds_d2_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
